

<div class="parent">

  <table>
    <tr>
      <th></th> <th>a</th><th>b</th><th>c</th><th>d</th><th>e</th><th>f</th><th>g</th><th>h</th>
    </tr>
    <tr> <td>8</td> <td id="elephantBlack">{{cPieces[0]}}</td> <td>{{cPieces[1]}}</td><td>{{cPieces[2]}}</td> <td>{{cPieces[3]}}</td><td>{{cPieces[4]}}</td><td>{{cPieces[5]}}</td><td>{{cPieces[6]}}</td><td>{{cPieces[7]}}</td> </tr>
    <tr> <td>7</td> <td>Pawn</td><td>Pawn</td><td>Pawn</td><td>Pawn</td><td>Pawn</td><td>Pawn</td><td>Pawn</td><td>Pawn</td></tr>

    <tr><td>6</td></tr>
    <tr><td>5</td></tr>
    <tr><td>4</td></tr>
    <tr><td>3</td></tr>
    <tr><td>2</td><td>Pawn</td><td>Pawn</td><td>Pawn</td><td>Pawn</td><td>Pawn</td><td>Pawn</td><td>Pawn</td><td>Pawn</td></tr>
    <tr><td>1</td> <td>{{cPieces[8]}}</td> <td>{{cPieces[9]}}</td> <td>{{cPieces[10]}}</td><td>{{cPieces[11]}}</td><td>{{cPieces[12]}}</td><td>{{cPieces[13]}}</td><td>{{cPieces[14]}}</td><td>{{cPieces[15]}}</td></tr>


  <tr></tr>
  <tr> </tr>
  <tr>
    <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
  </tr>


</table>

</div>













